*{
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

.welcome
{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
}
header
{
    margin-top: .5%;
    margin-bottom: 1%;
}

.login-h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    height: 50px;
}
.main {
    margin: 0 auto;
    width: 80%;
}
.no-display {
    display:none;
}
.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
}
.test-div {
}

a
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.8em;
    text-decoration: none;
    padding: .4em;
    margin: .4em;
}
a:visited
{
    color:#000;
    text-decoration: none;
}
a:hover
{
    color:#1483DD;
}
