<!DOCTYPE html>
<html>
    <head>
      <title><%=@title%></title>
      <link rel="shorcut icon" href="/images/book.ico"/>
      <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
      <link href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet" type="text/css">
      <link href="/styles/main.css" rel="stylesheet" type="text/css">
      <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
      <!--<![endif]-->
    </head>
    <body>
        <header>
          <a href="/">Home</a>
          <a href="/stories">Stories</a>
          <% if $username == nil %>
              <a href="/register">Register</a>
          <% else %>
              <a href="/myStories"><%= $username %></a>
              <a href="/logout">Logout</a>
          <% end %>
        </header>

        <%= yield %>

        <footer></footer>
    </body>
</html>